body {
  background: linear-gradient(to right, $blue, $lightBlue);
  background-clip: content-box;
}

.page-wrap {
  max-width: 1200px;
  margin: auto;
  position: relative;

  a {
    color: $white;
    span {
      font-size: 5em;
    }
  }
}
