// Styles de la page Home
.home-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

  .nav-arrow {
    position: absolute;
    bottom: 0;
    right: 0;
  }
  .ball {
    position: absolute;
    border-radius: 50%;

    &.big-left {
      width: 35em;
      height: 35em;
      z-index: -1;
      background: radial-gradient(circle at -20% -10%, $white, $blue 70%);
      top: -10%;
      left: -15%;
    }

    &.small-right {
      width: 20em;
      height: 20em;
      z-index: -1;
      background: radial-gradient(circle at -40% -10%, $white 20%, $blue 70%);
      top: -8%;
      right: -12%;

      &:after {
        content: "";
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        background: radial-gradient(
          circle at 100% 80%,
          $lightBlue,
          transparent 90%
        );
      }
    }
  }

  .infos-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    h1 {
      color: $white;
      font-family: $titleFont;
      font-weight: 900;
      font-size: 15em;
      position: relative;

      &:after {
        content: "04h11";
        position: absolute;
        color: transparent;
        -webkit-text-stroke: 5px $darkBlue;
        z-index: -1;
        top: 4%;
        left: 2%;
        opacity: 0.3;
      }
    }
    p {
      color: $darkBlue;
      font-family: $bodyFont;
      font-size: 4em;
      font-weight: 700;
      margin-top: 0.5em;
    }
  }
}
