// Styles de la page User
.user-page {
  width: 40vw;
  margin: auto;
  padding: 5em 0;
  font-family: $bodyFont;

  .nav-arrow {
    position: absolute;
    top: 0;
    left: 0;
  }
  .users-select {
    width: 100%;
    position: relative;

    //arrow
    &:after {
      content: "";
      font-size: 2em;
      width: 1em;
      height: 0.6em;
      background-color: $white;
      clip-path: polygon(100% 0%, 0 0%, 50% 100%);
      position: absolute;
      top: 45%;
      right: 1em;
    }

    h1 {
      select {
        font-weight: 700;
        font-size: 3em;
        padding: 0.5em;
        color: $white;
        border: 10px solid $white;
        /*  text-align-last: center; */
        width: 100%;
        background-color: transparent;
        appearance: none;
        cursor: pointer;
        outline: none;

        option:nth-child(n) {
          color: $darkBlue;
        }
      }
    }
  }
  .infos-block {
    width: 100%;
    padding: 1em 0;
    font-weight: 700;
    font-size: 2em;
    p {
      color: $titleColor;
      span {
        color: $white;
      }
    }
  }
  .articles-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    div {
      background-color: $white;
      border-radius: $borderRadius;
      box-shadow: $boxShadow;
      flex-basis: calc(100% / 2 - 0.5em);
      margin-bottom: 0.5em;
      padding: 2.5em 1.5em;

      h3 {
        text-align: center;
        font-size: 2em;
        font-weight: 900;
        margin-bottom: 1em;
      }
      p {
        font-size: 1.2em;
      }
    }
  }
}
